margin{margin: 0;padding: 0;}
body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
#logo{
    width: 70px;
    position: absolute;
    margin: 45px 50px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #f47070;
    font-weight: bold;
}
#inicio{
    width: 100%;
    height: 699px;
    border: 1px solid black;
    background-image: url(fotos/slide-1.jpg);
    background-size: cover;
}
#inicio_texto{
    width: 600px;
    position: relative;
    top: 30%;
    left: 86px;
    
   

}
#inicio_texto h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-weight: 900; 
    font-size: 80px;
}

#inicio_texto p{
    font-size: 18px;
    color: #ffffff;
    margin-top: 30px;
}

#exercicios{
    width: 100%;
    height:557px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    width: 370px;
    height: 556px;
    margin: 0 15px;
    position: relative;
    top: -102px;
    background-color: #232a35;
    border: none;
    
    
}
.card img{
    height: 236px;
}
.card h3 h2{
    padding-left: 26px;
    font-family: 'Montserrat', sans-serif;
}
.card h3{
    font-size: 14px;
    color: #f47070;
    font-weight: bold;
}
.card h2{
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 26px;
}
h2::after{
    content: "____";
    display: block;
    color: #f47070;
}
.card p{
    font-size: 14px;
    display: block;
    color: white;   
    margin-top: 20px; 
}

#bloco1{
    width: 100%;
    height: 540px;
    position: relative;
    background-image: url(fotos/slide-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#texto-bloco1{
    width: 600px;
    position: relative;
    top: 35%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}
#texto-bloco1 h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-weight: 900; 
    font-size: 50px;
}
#texto-bloco1 p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
#bloco2{
    width: 100%;
    height: 540px;
    position: relative;
    border-bottom: 1px solid rgb(207, 207, 207);
}
#texto-bloco2{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
#texto-parceiros{
    width: 600px;
    height:500px;
    margin-top: 20px;
    margin-right: 15px;
    text-align: justify;
}
#texto-parceiros h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-weight: 900;
    margin-top: 50px; 
    font-size: 50px;
}
#texto-parceiros h1::after{
    content: "____";
    display: block;
    color: #f47070;
}
#texto-parceiros p{
    margin-top: 30px;
    color: grey;
}
#texto-bloco2 img{
    width: 500px;
    height:500px;
    margin-top: 20px;
}

#bloco3{
    width: 100%;
    height: 540px;
    position: relative;
}
#texto-bloco3{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}

























::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background:#f47070 ; 
  }
  