margin{margin: 0;padding: 0;}

#logo{
    width: 70px;
    position: absolute;
    margin: 45px 50px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #f47070;
    font-weight: bold;
}

/*-----------inicio bloco INICIO--------------*/
#inicio{
    width: 100%;
    height: 699px;
    border: 1px solid black;
    background-image: url(fotos/slide-1.jpg);
    background-size: cover;
}
#inicio_texto{
    width: 600px;
    position: relative;
    top: 30%;
    left: 86px;
    
   

}

#inicio_texto h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-weight: 900; 
    font-size: 80px;
}

#inicio_texto p{
    font-size: 18px;
    color: #ffffff;
    margin-top: 30px;
}
#inicio_texto span{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900; 
    font-size: 80px;
}

/*-----------fim bloco INICIO--------------*/



/*-----------inicio bloco EXERCICIOS--------------*/
#exercicios{
    width: 100%;
    height:557px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
#exercicios .card{
    width: 370px;
    height: 556px;
    margin: 0 15px;
    position: relative;
    top: -102px;
    background-color: #232a35;
    border: none;
    -webkit-box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
    box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
    
    
}
.card img{
    height: 236px;
}
.card h3 h2{
    padding-left: 26px;
    font-family: 'Montserrat', sans-serif;
}
.card h3{
    font-size: 14px;
    color: #f47070;
    font-weight: bold;
}
.card h2{
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 26px;
}
h2::after{
    content: "____";
    display: block;
    color: #f47070;
}
.card p{
    font-size: 14px;
    display: block;
    color: white;   
    margin-top: 20px; 
}


/*-----------FIM bloco exercicios INICIO--------------*/


/*-----------inicio bloco1 --------------*/
#bloco1{
    width: 100%;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    background:url(fotos/slide-2.jpg);
    
}
#container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    
}

#bloco-resultado{
    width:650px;
    height: 100%;
    position: relative;
    margin-right: 30px;
    
}
#corpo_texto{
    width: 700px;
    margin:30px auto;
}
.titulos{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-size: 30px;
}
#corpo_texto>p{
    width: 90%;
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

table{
    width: 650px;
    position: relative;
    border-collapse: collapse;
    border: 1px solid grey;
  }
    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}

  th, td {
    text-align: center;
    padding: 8px;
  }

  #resultado>h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    margin:5px 0;
    width: 100%;
    position: relative;
    text-align: center;
  }
  #ir{
    width: 30px;
    font-family: arial;
    background: green;
    text-align: center;
    display: block;
    padding: 5px 5px;
    margin: 25px auto;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
#resultado{
     display:none;
}





#calculadora{
    width: 420px;
    position: relative;
    height:100%;
   
}
#formulario{
    background: #EBEBEB;
    width: 405px;
    margin:0 auto;

}
#formulario>form{
    width: 367px;
    height: 480px;
    margin: 5px auto;
}


form>p{
    color: #6B6B6B;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 12px;
}
form>input{
    width: 309px;
    height: 33px;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 17px;
}
span{
    margin-left: 5px;
    font-size: 13px;
    color: #7f7f7f;
}
form>button{
    width: 119px;
    height: 39px;
    border: 1px solid grey;
    background: white;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    color: #404040;
}

#calcular{
    width: 360px;
    height: 44px;
    color: white;
    background:#E0607A;
    font-size: 18px;
    margin: 15px 0;
    display: block;
}   
#resultado>.btn{
    
    margin: 20px auto;
}

#erroIdade,#erroAltura,#erroPeso,#erroSexo,#erroAtividadeFisica{
    color: red;
    display: none;
}
/*-----------fim bloco1 EXERCICIOS--------------*/



/*-----------inicio bloco2 --------------*/
#bloco2{
    width: 100%;
    height: 540px;
    position: relative;
    border-bottom: 1px solid rgb(207, 207, 207);
}
#texto-bloco2{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
#texto-parceiros{
    width: 600px;
    height:500px;
    margin-top: 20px;
    margin-right: 15px;
    text-align: justify;
}
#texto-parceiros h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-weight: 900;
    margin-top: 50px; 
    font-size: 50px;
}
#texto-parceiros h1::after{
    content: "____";
    display: block;
    color: #f47070;
}
#texto-parceiros p{
    margin-top: 30px;
    color: grey;
}
#texto-bloco2 img{
    width: 500px;
    height:500px;
    margin-top: 20px;
}

/*-----------fim bloco2--------------*/


/*-----------inicio bloco3--------------*/
#bloco3{
    width: 100%;
    height: 440px;
    background-color: #0a0a09;
    background-image: url(fotos/foto6.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
#texto-bloco3{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.numeros{
    margin-top: 12%; 
    text-align: center;   
    width: 203.500px;
    margin-left:25px;
    
}
.numeros h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
.numeros p{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
}



/*-----------fim bloco3--------------*/



/*-----------inicio bloco4--------------*/
#bloco4{
    width: 100%;
    height: 490px;
}
#bloco4>h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    text-align: center;
    margin: 30px;
}

#bloco4>h1::after{
    content: "____";
    display: block;
    color: #f47070;
}
#texto-bloco4{
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.depoimentos{
    width: 600px;
    height: 200px;
    position: relative;
    margin: 5% 20px;
}
.depoimentos img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    float: left;
}
.texto-depoimentos{
    width: 400px;
    float:right;
    text-align: justify;
}
.texto-depoimentos h1{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    font-size: 30px;
}
.texto-depoimentos p{
   
    color: grey;
}

/*-----------fim bloco4--------------*/



/*-----------inicio bloco5--------------*/
#bloco5{
    width: 100%;
    height: 550px;
    position: relative;
    background-image: url(fotos/slide-3.jpg);

  
}
#bloco5>h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding-top:38px;
}

#cards-professores{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
#cards-professores .card{
    width: 220px;
    height: 400px;
    margin:3px 25px;
}
#cards-professores img{
    width: 150px;
    height:150px;
    border-radius: 100px;
    margin: 0 auto;
}
#cards-professores h5{
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    text-align: center;
}
#cards-professores p{
    color: grey;
   
}

/*-----------fim bloco5--------------*/

/*-----------inicio bloco6--------------*/
#bloco6{
    width: 100%;
    height: 550px;
    position: relative;
}
#bloco6 h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:#f47070 ;
    margin-top:30px ;
}

#cards-planos{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}

#cards-planos .card{
    width: 340px;
    height: 420px;
    margin:10px 25px;
    -webkit-box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
    box-shadow:1px 0px 8px 0px rgba(50, 50, 50, 0.67);
}


#cards-planos .card h2{
    color: grey;
    text-align: center;
}
#cards-planos .card p{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #f47070;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#cards-planos ul li{
        list-style-type: none;
        font-size: 17px;
        margin:10px auto;
}
.ap{
    font-size: 15px;
    display: inline;
    margin: 3px;
}

/*-----------fim bloco6--------------*/

i{
    font-size: 30px;
    color: #f47070;
    text-align: center;
    margin: 0 10px;
}

footer{
    margin-top: 10px;
    background-color: #f47070;
    color: white;

  }





















::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background:#f47070 ; 
  }
  